<form action="#" method="post">
    <div style="margin-left:10%;margin-bottom:10px; " class="navbar-fixed-bottom">
        <div class="row">
            <div class="col-md-10">
                <input type="text" name="message" class="form-control" placeholder="Your message here ...">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-danger">Send</button>
            </div>
        </div>
    </div>
</form>